@{
    ViewBag.Title = "Home Page";
}


<br />
<div class="col-md-3">
</div>
<div class="col-md-6 text-justificado animated bounceInDown retraso letragrande">
    <p>La práctica numero 2 consistía en el cambio de Firmware de la NanoStation 2 Loco de la marca Ubiquiti que se encuentran en la sala de Telemática de la Universidad de Cundinamarca sede Fusagasuga que tiene como finalidad transmitir cada uno de los pasos que se realizaron para la configuración de un nuevo Firmware de código abierto de una NanoStation 2 Loco expresando las variables que ello conlleva, así como, cada uno de los detalles correspondientes a la práctica realizada el día 28 de Abril de 2017.</p>
    <p>Este tipo de Router tiene como alcance de hasta 5 Km, además de poseer una antena de frecuencia de 2.4 GHz y un ancho de banda mayor a los 25 Mbps, este tipo de antena es capaz de proporcionar una ganancia de 8dBi, siendo esta antena un artefacto de gran utilidad, debido a que es capaz de resistir condiciones de temperatura y clima extremos, en algunas ocasiones probado en temperaturas de 50 C, además posee un sistema operativo de código abierto basado en Linux llamado AirOs que fue desarrollado por la misma empresa fabricante del dispositivo, es decir, Ubiquiti Networks.</p>
    <br>
</div>

