
@{
    ViewBag.Title = "Nosotros";
}

<br>
<br>
<div class="col-md-4 center-xs animated bounceInLeft retraso text-azulitogrande">
    <br>
    <br>
    <footer>
        <p>Fabián Alomia</p>
    </footer>
</div>
<div class="col-md-4 center-xs animated bounceInLeft retraso2 text-azulitogrande">
    <br>
    <br>
    <footer>
        <p>Mateo Rodriguez</p>
    </footer>
</div>
<div class="col-md-4 center-xs animated bounceInLeft retraso3 text-azulitogrande">
    <br>
    <br>
    <footer>
        <p>Jhonattan Herrera</p>
    </footer>
</div>
<div class="col-md-4 center-xs animated bounceInLeft retraso4 text-azulitogrande">
    <br>
    <br>
    <footer>
        <p>Sebastián Pachón</p>
    </footer>
</div>
<div class="col-md-4 center-xs animated bounceInLeft retraso5 text-azulitogrande">
    <br>
    <br>
    <footer>
        <p>Lawrence Castañeda</p>
    </footer>
</div>

