
@{
    ViewBag.Title = "Nosotros";
}

<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="text-align:center;">
        <h1 class="text-azulito titulo animated bounceInDown"> Integrantes </h1>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="container">
    <div class="row">
        
        <div class="col-md-3">
            <div class="card hovercard">
                <div class="cardheader" style="background: url(../../Content/placefolder/280.jpg);">
                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/placefolder/jhonattan.png">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Jhonattan Herrera</a>
                    </div>
                    <div class="desc">Gerente General</div>
                    <div class="desc">Telefonica</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/placefolder/alomia.png">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Fabian Alomia</a>
                    </div>
                    <div class="desc">Jefe de Diseño Grafico</div>
                    <div class="desc">Telefonica</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card hovercard">
                <div class="cardheader" style="background: url(../../Content/placefolder/city-q-g-850-280-2.jpg);">
                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/placefolder/mateo.png">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Mateo Rodriguez</a>
                    </div>
                    <div class="desc">Jefe de Comunicaciones</div>
                    <div class="desc">Telefonica</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>


    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card hovercard">
                <div class="cardheader" style="background: url(../../Content/placefolder/280._2jpg.jpg);">
                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/placefolder/laurent.png">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Lawrence Castañeda</a>
                    </div>
                    <div class="desc">Jefe de Desarrollo</div>
                    <div class="desc">Telefonica</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card hovercard">
                <div class="cardheader" style="background: url(../../Content/placefolder/city-q-c-850-280-9.jpg);">
                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/placefolder/xx.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Sebastian Pachon</a>
                    </div>
                    <div class="desc">Jefe de Hardware</div>
                    <div class="desc">Telefonica</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>

</div>

